/*
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    letter-spacing: .2px;
    position: relative;
    font-size: 1rem;
    color: black;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden; 
}
*/

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";    

#app {

    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;

    $theme-font-path: "~uswds/dist/fonts";
    $theme-image-path: "~uswds/dist/img";

    @import './variables.scss';
    @import './uswds-bootstrap.scss';
    
    @import '~bootstrap/scss/bootstrap.scss';
    @import '~bootstrap-vue/src/index.scss';

    //@import "~uswds/dist/scss/uswds.scss";
    //@import "~uswds-vue/src/styles/uswds-vue.scss";
    //@import "~uswds-vue/src/styles/uswds-vue.scss";
    //@import "../../../uswds-vue/src/styles/uswds-vue.scss";

    height: 100%;
    width: 100%;

    .nav-item {
        cursor: pointer !important;
    }
    
    .capitalize {
        text-transform: capitalize;
    }
    
    .lowercase {
        text-transform: lowercase;
    }
    
    .uppercase {
        text-transform: uppercase;
    }
    
    .text-small {
        font-size: 10px;
    }
    
    .text-center {
        text-align: center;
    }
    
    .bold {
        font-weight: 700;
    }
    
    .btn-group-xs>.btn,
    .btn-xs {
        padding: 0.35rem 0.4rem;
        font-size: 0.75rem;
        line-height: 0.5;
        border-radius: 0.2rem;
    }

}




// Helpers
